<div class="container_home">
    <div class="home_left ng-animate" slide-tag="home_right">
        <ul>
            <li><a href="" class="home_has_choiced home_left_a_1">Flex</a></li>
            <li><a href="" >CANVAS</a></li>
            <li><a href="" >ES6</a></li>
            <li><a href="">Promise</a></li>
            <li><a href="">HTML5</a></li>
        </ul>
    </div>
    <div class="home_right" id="home_right" app-alert>
        <ul>
            <li class="home_should_show">
                <div class="show1"></div>
                <div class="show2"></div>
                <div class="show3"></div>
                <div class="show4"></div>
            </li>
            <li >
                
            </li>

            <li ></li>
            <li ></li>
            <li ></li>
        </ul>
    </div>
</div>