<div class="container_home">
    <div class="home_left ng-animate" slide-tag="home_right">
        <ul>
            <li><a href="" class="home_has_choiced home_left_a_1">CSS3</a></li>
            <li><a href="" >CANVAS</a></li>
            <li><a href="" >ES6</a></li>
            <li><a href="">Promise</a></li>
            <li><a href="">HTML5</a></li>
        </ul>
    </div>
    <div class="home_right" id="home_right" app-alert>
        <ul>
            <li class="home_should_show">
                <div class=" form-horizontal"> 
                    <label class="control-label col-sm-3">这里是一个列表：</label>
                    <div class="col-sm-6">
                        <input type="search" placeholder="选择..." ng-model="filter.q" aria-label="filter friends" class="form-control ">
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="showList()" class="btn btn-primary">显示列表</button>
                    </div>
                </div>
                <ul>
                    <li ng-repeat=" per in list | filter:filter.q as results">[{{$index + 1}}]、{{per.name}} </li>
                </ul>
            </li>
            <li ></li>
            <li ></li>
            <li ></li>
            <li ></li>
        </ul>
    </div>
</div>