<div class="container_msg">
    <div class="home_left" slide-tag="msg_right">
        <ul>
            <li><a href="" class="home_has_choiced home_left_a_1">新增</a></li>
            <li><a href="" >列表</a></li>
        </ul>
    </div>
    <div class="home_right" id="msg_right">
        <ul>
            <li class="home_should_show container">
                <form role="form" novalidate name="msgForm" class="row">
                    <div class="form-group">
                        <label for="msg_name" required>姓名：</label>
                        <input type="text" name="name" class="form-control" ng-model="msg.name" required maxlength="32">
                        <span></span>
                    </div>
                </form>
            </li>
            <li ></li>
        </ul>
    </div>
</div>