/**
 * CSS document for home page 
 * creat 2017-1-17
 * auto  jinglf
 */
 /* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../font/Dosis-Medium.ttf) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../font/Dosis-Medium.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* 通用样式开始 */
ul,li,div,h1,h2,h3,h4,h5,ol,li,p,header,footer{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
input.ng-invalid.ng-dirty.ng-touched{
    border-color: red;
}
input.ng-invalid.ng-dirty.ng-touched:focus{
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233,102,102,.6);
}
input.ng-valid,
textarea.ng-not-empty.ng-valid{
    border-color: green;
}
html,body{
    background-image :linear-gradient(180deg, #E9E9E7 2%, #EFEEEC 27%, #EEEEEC 58%, #D5D4D0 94%);
    background-blend-mode: normal,color-burn ;
    height: 100%;
}
.input_required:before{
    content: "* ";
    color: red;
}
.form-group{
    margin-bottom: 20px;
}
.col-sm-4{
    position: relative;
}
.error_msg {
    color: red;
    font-size: 12px;
    position: absolute;
}
/* 通用样式结束 */
.header{
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #428bca;   
    background-image: linear-gradient(0deg,#f9f9f9, #fff);
    box-shadow: 0px 2px 3px #dedede;
    position: fixed;
    width: 100%;
    z-index: 25;
}
.nav{
    width: 100%;
    margin: 0 auto;
    padding: 1px 0;
}
.nav li{
    float: left;
}
.nav li a{
    line-height: 40px;
    font-size: 16px;
    padding: 10px 25px;
    transition: background-color .5s;
    font-weight: bolder;
}
.nav .nav_li_last{
    float: right;
    cursor: pointer;    
}
.btn{
    width: 120px;
}
.title{
    text-align: center;
}
.a_has_choiced{
    color: #2a6496;
    text-decoration: underline;
    background-color: #eee;
}
/* 内容区域 */
.container-fluid{
    position: relative;
    padding-top: 62px;
}

.home_left{
    position: fixed;
    left: 0;
    top: 80px;
    width: 150px;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ccc;
    z-index: 20;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 9s;
}
.home_left li{
    line-height: 32px;
    font-family: 'Dosis','Microsoft YaHei';
    cursor: pointer;
}
.home_left li a{
    padding: 0 20px;
    display: block;
    transition: background-color .5s ease .1s;
    font-weight: bold;
    font-style: italic;
}
.home_left li a.home_has_choiced{
    color: #2a6496;
    text-decoration: underline;
    background-color: #eee;
}
.home_left li a:hover{
    background-color: #eee;
}
.home_left_a_1{
    border-radius: 0 5px 0 0 ;
}
.home_right{
    margin: 20px 0  0 150px;
    list-style: none;
}
.home_right ul:after{
    content: "";
    width: 0;
    height: 0;
    clear: both;
    display: block;
}
.home_right > ul > li{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    padding:  20px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #999;
    /*background-color: #4ae4d4;*/
    background-color: #fff;
    display: none;
}
.home_right li.home_should_show{
    display: block;
}
/* 切换动画 animation，通用状态，运动和离开时 */
.view-animate.ng-enter ,
.view-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    opacity: 1;
}

.view-animate.ng-leave {
    display: none;
}
/* home-left---- 开始 */
.view-animate.ng-enter .home_left{
    transition: left cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    left: -150px;
}
/* 进入最终 */
.view-animate.ng-enter.ng-enter-active .home_left{
    left:0;
}
/* 离开开始 */
.view-animate.ng-leave .home_left{
    transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s;
    opacity: 0.5;    
}
/* 离开最终 */
.view-animate.ng-leave.ng-leave-active .home_left{
    opacity: 0;
}
/* ========home_right   进入开始========= */
.view-animate.ng-enter .home_right{
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s;
    opacity: 0;
    margin-top: 50px;
}
/* 进入最终 */
.view-animate.ng-enter.ng-enter-active .home_right{
    opacity: 1;
    margin-top: 20px;
}
/* 离开开始 */
.view-animate.ng-leave .home_right{
    display: none;
} 
/* 离开最终 */
.view-animate.ng-leave.ng-leave-active .home_right{
    margin-top: 100px;
    opacity: 0;
}
.form-horizontal:after{
    content: " ";
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
.home-list-container{
    position: relative;
}
/* 列表开始 */
.home-list-li.ng-enter,
.home-list-li.ng-leave,
.home-list-li.mg-move{
    transition: all linear .5s;
    position: relative;
}
.home-list-li.ng-leave.ng-leave-active,
.home-list-li.ng-enter,
.home-list-li.ng-leave{
    opacity: 0;
    max-height: 0;
}
.home-list-li.ng-enter-active,
.home-list-li.ng-move-active{
    opacity: 1;
    /* 告诉ng-animation 对应的元素，他的高度是缓慢增加的，最大为max-height*/
    max-height: 30px;
}