/**
 * CSS document for home page 
 * creat 2017-1-17
 * auto  jinglf
 */
 /* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../font/Dosis-Medium.ttf) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../font/Dosis-Medium.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

ul,li,div,h1,h2,h3,h4,h5,ol,li,p,header,footer{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
html,body{
    background-image :linear-gradient(180deg, #E9E9E7 2%, #EFEEEC 27%, #EEEEEC 58%, #D5D4D0 94%);
    background-blend-mode: normal,color-burn ;
    height: 100%;
}
.header{
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #428bca;   
    background-image: linear-gradient(0deg,#f9f9f9, #fff);
    box-shadow: 0px 2px 3px #dedede;
    position: fixed;
    width: 100%;
    z-index: 25;
}
.nav{
    width: 100%;
    margin: 0 auto;
    padding: 1px 0;
}
.nav li{
    float: left;
}
.nav li a{
    line-height: 40px;
    font-size: 16px;
    padding: 10px 25px;
    transition: background-color .5s;
}
.nav .nav_li_last{
    float: right;
    cursor: pointer;    
}
.title{
    text-align: center;
}
.a_has_choiced{
    color: #2a6496;
    text-decoration: underline;
    background-color: #eee;
}
/* 内容区域 */
.container-fluid{
    position: relative;
    padding-top: 62px;
    overflow: hidden;
}

.home_left{
    position: fixed;
    left: 0;
    top: 80px;
    width: 150px;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ccc;
    z-index: 20;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 9s;
}
.home_left li{
    line-height: 32px;
    font-family: 'Dosis','Microsoft YaHei';
    cursor: pointer;
}
.home_left li a{
    padding: 0 10px;
    display: block;
    transition: background-color .5s ease .1s;
}
.home_left li a.home_has_choiced{
    color: #2a6496;
    text-decoration: underline;
    background-color: #eee;
}
.home_left li a:hover{
    background-color: #eee;
}
.home_left_a_1{
    border-radius: 0 5px 0 0 ;
}
.home_right{
    margin: 20px 0  0 150px;
    list-style: none;
}
.home_right ul:after{
    content: "";
    width: 0;
    height: 0;
    clear: both;
    display: block;
}
.home_right li{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    padding:  20px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #ccc;
    background-color: #4ae4d4;
    display: none;
}
.home_right li.home_should_show{
    display: block;
}
/* 切换动画 animation，通用状态，运动和离开时 */
.view-animate.ng-enter ,
.view-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 15s;
}

.view-animate.ng-enter .home_left{
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s;
}
/* 进入最终状态 */
.view-animate.ng-enter.ng-enter-active .home_left{
    left:0;
}
/* 离开 */
.view-animate.ng-leave.ng-leave-active {
    opacity: 0;
}