/* bootstrap media样式 */

/* 小屏幕 <= 720px */
@media (min-width: 720px){

}
/* 中等屏幕 <= 1080px */
@media (min-width: 1080px){

}
/* 大屏幕 > = 1280px */
@media (min-width: 1280px){

}
body,
html{
    background : #d23c39;
    background : linear-gradient(-20deg, rgba(210, 60, 57, 0.06), rgba(164, 220, 74, 0.63));
    height: 100%;
    width: 100%;
}
*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}               
.container{
    padding-top: 200px;
    width: 300px;
}
.form-title{
    text-align: center;
    font-weight: lighter;
}
input[type="submit"]{
    width: 100%;
}
    /*display: none;*/
.form-group{
    margin: 20px 0 20px 0;
    position: relative;
}
/* 错误提示信息span和input */
.error_msg{
    color: red;
    position: absolute;
    font-size: 12px;
}
.error_msg span{
    font-size: 12px;
}
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}
input.ng-invalid.ng-dirty:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.24)
}
.reg-div{
    float: right;
}
