/* 注册页面样式表 */
body{
    background-color: #edeff0;
    background-image : url("../images/index-bg.svg");
}

.container{
    width: 600px;
}
.form-title{
    text-align: center;
    line-height: 2;
}
.form-group{
    position: relative;
    margin: 20px 0;
}
/* 错误提示信息span和input */
.error_msg{
    color: red;
    position: absolute;
    font-size: 12px;
    /*display: none;*/
}
.error_msg span{
    font-size: 12px;
}
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}
input.ng-invalid.ng-dirty:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.24)
}
.reg-div{
    float: right;
}
.btn{
    width: 120px;
}