<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appcon">
<head>
    <meta charset="UTF-8">
    <title>指令系统</title>
    <style>
        *{
            /*margin: 0;*/
            /*padding: 0;*/
        }
        .tog{
            border: 1px solid #000;
            margin: 10px 0;
            padding: 0;
        }
        .toggle{
            background-color: #000;
            color: #ffff00;
        }
        /* 动画测试 */
        #box{
            width: 200px;
            height:200px;
            background-color: orangered;
            border-radius : 5px;
            position: relative;
            transition: 2s  ease background ;
            opacity: 1;
        }
        #box:hover{
            /*opacity: 0.2;*/
            background-color: #2997d0;
            /*width: 400px;*/
            /*height: 400px;*/
        }
    </style>
    <script type="text/javascript" src="framework/angular/angular.js"></script>
</head>
<body>
    <p>下面是自定义指令</p>
    <p>这里面的内容是两个独立的作用域之间的双向绑定数据绑定{{hell}}</p>
    <input type="button" ng-click="linkcon()" value="click">
    <hr>
    <linkfun link-title="title" link-name="{{yes}}" yes="hell" link-con="linkcon()">{{text}}</linkfun>
    <p test>这是一个test呀呀呀</p>
    <hr>
    <p>过滤器{{toworld}}</p>
    <p>日期过滤器 {{filterHello | number:2}}</p>
    <p>date : {{today | date:'short'}}</p>
    <hr>
    <p>json : {{jsonData | json}}</p>
    <hr>
    <ul>
        <li ng-repeat=" x in arr | orderBy :'age'  "> {{x}}</li>
    </ul>
    <div id="box"></div>
</body>
<script>
    var app = angular.module("app",[]);
    app.controller("appcon",function($scope,$filter,$q){
        $scope.title = "点击展开：";
        $scope.hell = "this is hello 亚所"
        $scope.yes = "哈撒给~~ 亚所"
        $scope.text = "这里是内容呀";
        $scope.linkcon = function(){
            console.log(this);// 打印当前作用域对象
//            $scope.hell = "1101010101";
        };
        $scope.toworld = $filter('uppercase')('niho ___dsJING');
        $scope.filterHello = "454561.2546";
        $scope.today = new Date();
        $scope.jsonData = {
            name : "liuyang",
            age : "24",
            phone : "15503714903"
        };
        $scope.fn = {
            year : function(a,b){
                return parseInt(a) - parseInt(b);
            }
        }
        $scope.arr = [
            {
                name : "liuyang",
                age : "29",
                phone : "18516993208"
            },
            {
                name : "jinglongfei",
                age : "24",
                phone : "15503714903"
            },
            {
                name : "duqingzhao",
                age : "26",
                phone : "18103853085"
            },
            {
                name : "dengjuzhen",
                age : "25",
                phone : "xxxxxxxxxxxx"
            }
        ];
        // 这里是一个 $q 异步对象的测试
        var deferred = $q.defer();
        var promised = deferred.promise;
        promised.then(function(data){// then 函数返回的也是promise对象，用于继续异步调用
            // 多个then 类似于多个管道，从 deferred.resolve(data)中的参数data被传递到第一个then函数里面
            // 同时第二个 then 会收到 第一个then的返回值，就像管道一样；
            // 同时在 then函数里面 是不能够通过 修改 deferred.inject() 来改变下一步的异步处理
            // 但是可以通过 return $q.reject("参数来")；来处理
            console.log("promise resolve 异步成功的方法+++++++++" + data) ;
            return $q.reject("手动触发了下一步 promise 错误处理");  
        },function(data){
            console.log("异步执行失败了，譬如接口返回错误了，++++++++————————" + data);
        }).then(function(data){
            console.log("promise de 第二个成功处理函数" + data);
        }, function(data){
            console.log("promise de 第二个失败的处理函数" + data);
        });
        deferred.resolve("hello++++++++++++fail");
    });
    app.directive("linkfun",function () {
        return {
            restrict : "AE",
            template : "<div class='tog'>" +
            "<p class='toggle' ng-click='toggle()'>{{title}}</p>" +
            "<p class='toggle_content' ng-show='showMe' ng-transclude>这里是隐藏的内容，用来实现显示隐藏效果；</p>" +
            "<input type='text' value='click' ng-model='yes'>" +
            "<button ng-click='changeColor()'>yes</button>" +
            "</div>",
            transclude : true,
            replace : true,
            scope : { // scope 默认值是 false 不会形成私有作用域，true 会生成子作用域，继承父作用域，当scope是对象的时候会形成隔离的作用域，不会继承
                title : "@linkName",// 但是可以通过@ & = 来访问夫作用域，@ 单项绑定 = 双向 & 函数
                changeColor : "&linkCon",
                yes : "="
            },
            link : function (scope ,element,attrs) {
                scope.title = "hahh click";
//                scope.yes = "你好呀！！！";
                scope.showMe = false;
                scope.toggle = function () {
                    scope.showMe = !scope.showMe;
                }
            }
        }
    });

</script>
</html>