<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>管理系统登陆</title>
    <link rel="stylesheet" type="text/css" href="framework/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script type="text/javascript" src="framework/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="framework/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="framework/angular/angular.js"></script>
    <script type="text/javascript" src="framework/angular/angular-messages.js"></script>
    <script type="text/javascript" src="js/controller_login.js"></script>
</head>
<body ng-app="login" ng-controller="appLogin">
<div class="container">
    <div class="row">
        <form role="form" novalidate name="loginForm" ng-submit='loginSubmit()'>
            <h3 class="form-title">登录管理系统</h3>
            <div class="form-group">
                <label for="user">用户名：</label>
                <input type="text" placeholder="邮箱或手机号" name="user" id="user" class="form-control" check-user ng-model="user"
                       required check-user maxlength="64" >
                <!--ng-model-options="{ updateOn: 'blur' }"-->
                <span ng-messages="loginForm.user.$error" ng-show="loginForm.user.$dirty && loginForm.user.$invalid"
                      class="error_msg">
						<span ng-messages-include="tem/error/errorMsg.html"></span>
        			</span>
            </div>
            <div class="form-group">
                <label for="pass">密码：</label>
                <input type="password" name="pass" id="pass" class="form-control" ng-model="pass" required>
                <span class="error_msg" ng-show="loginForm.pass.$dirty && loginForm.pass.$invalid">
						<span ng-show="loginForm.pass.$error.required">请输入密码</span>
					</span>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label >
							<input type="checkbox" name="checkbox" value="on" ng-model="autoLogin"> <span>自动登录</span>
						</label>
						<div class="reg-div">
							<a href="register.html">新用户？点击注册</a>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" name="submit" class="btn btn-success" value="登陆" id="form_submit" ng-disabled="loginForm.user.$invalid || loginForm.pass.$invalid">
				</div>
			</form>
		</div>
	</div>
</body>

</html>