<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular 测试页面</title>
    <script type="text/javascript" src="framework/angular/angular.js"></script>
</head>
<body ng-app="myApp" ng-controller="myappController">
    110
    <h4>{{test.name}}</h4>
    <p>{{test.add1}}</p>
    <button ng-click="test.add(1)"> click </button>
    <p ng-controller="childController">{{child}}</p>
    <input type="text" ng-model="hello">
    <p>{{test.nameParse}}</p>
</body>
<script type="text/javascript">
    var APP = angular.module('myApp', []);
    APP.controller("myappController",["$scope","$parse",function($scope,$parse){
        $scope.test = {
            name : "hello ss world",
            add1 : 1,
            add : function (num) {
                this.add1 ++;
                console.log(this); // this 指的是$scope.test 这个对象
            }
        };
        $scope.$watch('hello',function (newVal,oldVal,scope) {
            if(newVal !== oldVal){
                $scope.test.nameParse = $parse(newVal)(scope);
            }
        })
    }]);
    APP.controller("childController",["$scope",function($scope){
        $scope.child = {
            name : "child"
        }
    }]);
</script>
</html>